body{
  background: #333;
  color: #eee;
  font-size: 18px;
  font-family: Helvetica, Arial, sans-serif;

  h1{
    font-weight: 100;
  }

  p{
    font-style: italic;
  }

  img{
    width: 20vw;
    border-radius: .4em;
    margin: .4em;
  }
}
