html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  background: #eee;
}
body {
  padding: 2vw;
  margin: 0 auto;
  max-width: 800px;
  box-shadow: 0 0 3px #aaa;
  background: #fff;
}

h1 {
  color: #48e;
}

p {
  color: rgba(0, 0, 0, 0.6);
  line-height: 1.6em;
}

#css::before {
  content: "The CSS file has been included properly.";
}
